html {
	overflow-x: hidden;
}

body {
	display: grid;
	width: 100%;
	background-color: #f4f0ea;
	/* overflow-x: hidden; */
}

.bg-dark {
	background-color: black !important;
}

.navbar-brand {
	font-size: 30px;
}

#landingContainer {
	display: grid;
	height: 600px;
	color: white;
	background-color: black;
	font-family: Source Code Pro;
	min-width: 375px;
	align-items: center;
	align-content: center;
	/* padding: 20px; */
}

#landingLinks {
	color: white;
	font-family: Source Code Pro;
}

#landingSpan {
	color: #e09f3e;
}

.fa-i-cursor {
	font-size: 30px;
}

/* Found the blinking functionality below from here http://jsfiddle.net/gaby/Vaysf/649/ originally from this stackoverflow question https://stackoverflow.com/questions/4450344/how-to-blink-a-div-in-jquery*/

.blink {
	-webkit-animation: blink 900ms infinite alternate;
	-moz-animation: blink 900ms infinite alternate;
	-o-animation: blink 900ms infinite alternate;
	animation: blink 900ms infinite alternate;
}
@-webkit-keyframes blink {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@-o-keyframes blink {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@-moz-keyframes blink {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes blink {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

#navTitle {
	font-family: Source Code Pro;
	font-size: 25px;
	color: #e09f3e;
}

#mobileNavTitle {
	font-family: Source Code Pro;
	font-size: 15px;
	color: #e09f3e;
}

#navTitleLinks {
	font-family: Source Code Pro;
	font-size: 15px;
	color: #e09f3e;
}

#aboutMeContainer {
	display: grid;
	grid-gap: 10px;
	margin-top: 30px;
}

#profileImage {
	margin-left: 0;
	margin-right: 0;
	max-height: 263px;
}

#aboutMeCard {
	align-items: center;
	align-content: center;
	background-color: #f4f0ea;
	margin-right: auto;
}

.aboutName {
	font-family: Shadows Into Light;
	font-size: 65px;
}

.aboutParagraph {
	font-family: Roboto Mono;
	font-weight: 300;
	font-size: 20px;
}

#headerProject {
	padding-top: 40px;
	padding-bottom: 30px;
	margin-top: 20px;
	margin-bottom: auto;
	text-align: center;
	font-family: Roboto Mono;
	background-color: #854939;
}

.addedProjects {
	background-color: #854939;
}

.projectBtnsStyle {
	background-color: #6c757d;
	border: #6c757d;
}

#contactContainer {
	margin-top: 40px;
	margin-bottom: 40px;
}

#contactInputContainer {
	max-width: 400px;
	margin-right: auto;
}

#contactInsideContainer {
	display: flex;
}

#headerContact {
	font-family: Roboto Mono;
}

#contactImg {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa-paper-plane {
	font-size: 200px;
	margin-left: auto;
	margin-right: 100px;
	color: #e09f3e;
}

.footer {
	width: 100%;
	text-align: center;
	background-color: black;
	display: flex;
	height: 40px;
	align-items: center;
	padding: 20px;
	grid-gap: 10px;
	justify-content: center;
}

.footerLinks {
	color: white;
	font-family: Source Code Pro;
}

.footer-bottom {
	color: white;
	font-family: Source Code Pro;
	margin-left: auto;
	margin-right: auto;
}

.fa-github {
	margin-left: auto;
	color: #e09f3e;
}

.fa-linkedin-in {
	color: #e09f3e;
}

@media (min-width: 500px) {
	#mobileNavTitle {
		display: none;
	}

	#landingBreak {
		display: none;
	}
}

@media (max-width: 500px) {
	#navTitle {
		display: none;
	}

	#landingLinksContainer {
		display: grid;
	}

	#contactImg {
		display: none;
	}
}
